* {
  box-sizing: border-box;
}
html {
  width: 100%;
  font-size: 16px;
}
@media (max-width: 48rem) {
  html {
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background-color: #fbfbfb;
  word-wrap: break-word;
  text-align: center;
  height: 100%;
  line-height: 1.5rem;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #06c;
}
a:hover {
  text-decoration: underline;
}
pre.highlight {
  border: .05rem solid #aaaaaa;
  border-radius: .2rem;
  font-family: Menlo, Monaco, "Source Code Pro", Consolas, Courier;
  font-size: 1rem;
}
code.hljs {
  padding: .8rem;
}
code.highlighter-rouge {
  background-color: #ddd;
  border-radius: .2rem;
  padding: .1rem .3rem .1rem .3rem;
}
#container {
  margin: 0 auto;
  max-width: 48rem;
  text-align: left;
}
@media (max-width: 48rem) {
  #container {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
#topbar {
  height: 3rem;
  padding-top: 1rem;
  margin-bottom: 5rem;
}
.title {
  font-weight: bold;
}
.menu {
  float: right;
  display: flex;
}
.menu-item {
  padding-left: 1rem;
}
@media (max-width: 48rem) {
  .title {
    margin-top: 2rem;
    text-align: center;
  }
  .menu {
    float: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-item {
    padding: 0;
  }
}
#intro {
  text-align: center;
}
#intro-logo {
  text-align: center;
}
#intro-logo img {
  width: 10rem;
  height: 10rem;
}
#intro-text {
  margin-top: 6rem;
  font-size: 2rem;
}
#intro-desc {
  text-align: left;
  margin-top: 2rem;
}
#intro-button {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
#intro-version {
  margin-top: 1rem;
}
@media (max-width: 48rem) {
  #intro-text {
    margin-top: 3rem;
    font-size: 1.1rem;
  }
  #intro-button {
    margin-top: 2rem;
  }
}
.install-item {
  padding: 0rem 1rem 0rem 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000;
  background-color: #fff;
  border: .15rem solid #000;
  border-radius: .5rem;
}
.install-item:hover {
  border: .15rem solid #06c;
}
.install-gsm {
  margin-right: .5rem;
}
.install-user-guide {
  margin-left: .5rem;
}
.install-item a {
  color: #000;
}
.install-item:hover a {
  color: #06c;
  text-decoration: none;
}
.back-top {
  text-align: center;
}
#social {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid #aaa .1rem;
}
.content {
  padding-top: 3rem;
  font-size: 1rem;
  border-bottom: solid #aaa .1rem;
  padding-bottom: 1.6rem;
}
.content-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.content-title-icon {
  font-size: 1.5rem;
}
.content-title-icon a {
  color: #fbfbfb;
}
.content-title:hover .content-title-icon a {
  color: #333;
}
footer {
  /*text-align: center;*/
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}